<!DOCTYPE html>
<html>

<head>
    <title>CRUD Planilha</title>
</head>

<body>
    <!-- GET -->
    <h1>Visualização da Planilha</h1>
    {{ tabela|safe }}

    <h2>Adicionar Linha</h2>
    <form action="/post" method="post">
        <input name="col1" placeholder="Coluna 1">
        <input name="col2" placeholder="Coluna 2">
        <button type="submit">Adicionar</button>
    </form>

    <!-- POST -->
    <h2>Atualizar Linha</h2>
    <form action="/put" method="post">
        <input name="indice" placeholder="Índice">
        <input name="col1" placeholder="Nova Coluna 1">
        <input name="col2" placeholder="Nova Coluna 2">
        <button type="submit">Atualizar</button>
    </form>

    <!-- DELETE -->
    <h2>Deletar Linha</h2>
    <form action="/delete" method="post">
        <input name="indice" placeholder="Índice">
        <button type="submit">Deletar</button>
    </form>

</body>

</html>